@media screen and (width<800px) {
    :root{
        font-size: 8px;
        --size-xs: 0.625;
        --size-sm: 0.75rem;
        --size-base:1rem;
        --size-lg: 1.125rem;
        --size-xl: 1.375rem;
        --size-2xl: 1.625;
        --size-3xl: 1.875rem;
    }


    .header-container{
        display: block !important;
    }
    .header-leftside{
        border-bottom: 1px solid gray;
        .header-nav-toggle{
            display: block !important;
        }
    }
    .header-middleside{
        .header-list{
            padding: 0;
        }
        .header-list-element{
            float: none !important;
            user-select: none;
            margin:0  !important;
        }
        .header-list-text{
            margin:auto;
            width:fit-content;
            font-size: var(--size-3xl) !important;

        }
        .header-dropdown{
            position:relative !important;
            inset: 0 0 0 0 !important;
            transform: translateX(0) !important;
            box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
            width:fit-content;
            margin:auto;
        }
        .dropdown-margin{
            margin: 1rem auto;
        }
    }

    .header-rightside{
        margin-top: 2rem;

        .header-btn-container{
            width: fit-content;
            margin: 0 auto;
        }
        .header-btn:first-child{
            margin-right:1rem;
        }
        
    }

    .header-rightside,.header-middleside{
        opacity: 0;
        height: 0;
    }
    /* Main */
    .layer1{
        width: clamp(250px,100%,900px) !important;
    }
    /* Modal container */
    .modal-outside-container{
        overflow: hidden;
        background-color:red;

    }
    /* CSS TOOLTIP */
    .css-tooltip-container{
        transform: translateX(50%);
        top:105%;
        right: 50% !important;
        bottom: auto !important;
    }
    
}