.flex{
    display: flex;
}
.flex-center{
    align-items: center;
    justify-content: center;
}
.toggle-display{
    display: inline-block !important;
}
.toggle-height{
    transition: all 3s;
    height: max-content !important;
}