.flex{
    display: flex;
}
.flex-center{
    align-items: center;
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}

.toggle-display{
    animation: show-dropdown .5s ease-out forwards !important;
}

.show-modal{
    display: flex !important;
    animation: show-modal 1s forwards;
}

.show-modal-container{
    display: flex !important;
    animation: show-modal-container 1s forwards;
}
.no-scroll{
    overflow: hidden;
}
.show{
    animation: show-modal 1s forwards,
                hide-modal 1s 3s forwards;

}
.toggle-mobile-dropdown{
    animation: show-mobile-dropdown 1.4s ease-out forwards !important;

}