.css-tooltip-container{
    opacity: 0;
    border: 2px solid black;
    background-color: aliceblue;
    padding: 1rem;
    position: absolute;
        right: -5%;
        bottom: 0;

    transition: all .1s linear;
}
.main__list li:hover .container ~ .css-tooltip-container{
    opacity: 1;
} 