main{

}
.main-content-container{
    width: 90%;
    margin:0 auto;
}
main span{
    color: var(--clr-span);
}


.main__list >li{
    list-style: decimal-leading-zero ;
    margin: 0 auto;
    margin-bottom:6rem;
    position: relative;
    max-width: 80%;
    /* border: 1px solid red; */
}
.main__list >li::marker{
    font-size: 2em;
}
strong{
    color: var(--clr-strong);
}
.gap{
    margin-bottom: 1rem;
}
*::selection{
    background-color: skyblue;
}

.container{
    display: inline-block;
    .layer1{
        background-color: var(--clr-layer1-bg);
        padding: 1rem;
    }
    .layer2{
        background-color: var(--clr-layer2-bg);
        padding: 1rem;
    }
    .preceded-element{
        background-color:var(--clr-preceded-bg);
    }
}
.main__list .container{
    color: var(--clr-container-font);

}

.layer1,.layer2{
    text-align: center;
}

.layer1{
    width: clamp(750px,80%,1000px);
    border: 2px solid black;
}

.main__list h2{
    margin-bottom: 2rem;
}
/* .class.class */
.section-1 {
    /* main */
    .foo.bar.baz{
    color: var( --clr-selected);
    }
}
/* .class .class  */
.section-2{
    /* main */
    .main .child {
        color: var( --clr-selected);
    }
  
} 
/* element element */
.section-3{
    
    /* main */
    div p{
        color: var( --clr-selected);
    }
}
/* element > element */
.section-4{
   
    /* main */
    .layer1 > p{
        color: var( --clr-selected);
    }
}
/* element + element */
.section-5{
    .element1 + p{
        color: var( --clr-selected);
    }
}
/* element ~ element */
.section-6{
    .preceded-element ~ p{
        color: var( --clr-selected);
    }
}
/* [attribute] */
.section-7{
    [id]{
        color: var( --clr-selected);
    }
    [class]{
        color: green;
    }
    [style]{
        color: brown;
    }
}
/* [attribute = value] */
.section-8{
    [id ="specified"]{
        color: var( --clr-selected);
    }
    [class ="specified"]{
        color: green;
    }
    [style ="background-color:burlywood;"]{
        color: brown;
    }
}
/* [attribute ~= value] */
.section-9{
    [class ~= "foo"]{
        color:var( --clr-selected);
    }
}
/* [attribute] |= value  */
.section-10{
    [class |= "foo"]{
        color:var( --clr-selected);
    }
}
/* [attribute] ^= value */
.section-11{
    [class ^= "foo"]{
        color: var( --clr-selected);
    }
}
/* [attribute] $= value */
.section-12{
    [class $= "foo"]{
        color: var( --clr-selected);
    }
}
/* [attribute] *= value */
.section-13{
    [class *= "foo"]{
        color: var( --clr-selected);
    }
}
/*:active  */
.section-14{
    p:active,a:active{
        color:var( --clr-selected)
    }
}
/* enabled: & disabled */
.section-15{
    input:disabled{
        background-color: var( --clr-selected);
    };
    input:enabled{
        background-color: green;
    }
}
/* :empty */
.section-16{
    .foo:empty{
        background-color: aqua;
        width: 50px;
        height: 20px;
    }
}
/* :first-child */
.section-17{
    p:first-child{
        color:var( --clr-selected)
    }
}
/* ::first-letter */
.section-18{
    p:first-letter{
        color: var( --clr-selected);
    }
}
/* ::first-line */
.section-19{
    p:first-line{
        color: var( --clr-selected);
    }
}
/* :first-of-type */
.section-20{
    p:first-of-type{
        color: var( --clr-selected);
    }
}
/* :focus */
.section-21{
    input:focus{
        background-color: aquamarine;
    }
}
/* :has() */
.section-22{
    strong:has(+p)::after{
        content:"(this header has p immediately after it)";
        color:var( --clr-selected);
    }
}
/* :in-range() */
.section-23{
    input:in-range{
        background-color: green;
    }
    input:out-of-range{
        background-color: var( --clr-selected);
    }
}
/* :invalid */
.section-24{
    input:invalid{
        background-color: var( --clr-selected);
    }
    input:valid{
        background-color: green;
    }
}
/* :last-child */
.section-25{
    p:last-child{
        color: var( --clr-selected);
    }
}
/* :last-of-type */
.section-26{
    p:last-of-type{
        color: var( --clr-selected);
    }
}
/* :link */
.section-27{
    a{
        color:white;
        padding:.25rem;
    }
    a:link{
        background-color: var( --clr-selected);
    }
}
/* ::marker */
.section-28{
    .list-1 li::marker{
        color: var( --clr-selected);
    }

}
/* :not() */
.section-29{
    .layer1 :not([class = "foo"] ){
        color: var( --clr-selected);
    }
}
/* :nth-child() */
.section-30{
    .layer2:first-of-type p:nth-child(2){
        color: var( --clr-selected);
    }
    .layer2:nth-of-type(2) p:nth-child(3){
        color: var( --clr-selected);
    }
}
/* :nth-last-child() */
.section-31{
    .layer2:first-of-type p:nth-last-child(2){
        color: var( --clr-selected);
    }
    .layer2:nth-of-type(2) p:nth-last-child(3){
        color: var( --clr-selected);
    }
}
/* :nth-of-type() */
.section-32{
    .layer2:first-of-type p:nth-of-type(2){
        color: var( --clr-selected);
    }
    .layer2:nth-of-type(2) p:nth-of-type(3){
        color: var( --clr-selected);
    }
}
/* :nth-last-of-type() */
.section-33{
    .layer2:first-of-type p:nth-last-of-type(2){
        color: var( --clr-selected);
    }
    .layer2:nth-of-type(2) p:nth-last-of-type(3){
        color: var( --clr-selected);
    }
}
/* :only-of-type */
.section-34{
    p:only-of-type{
        color: var( --clr-selected);
    }
}
/* :only-child */
.section-35{
    p:only-child    {
        --value-:var( --clr-selected);
        color: var(--value-);
    }
}
/* ::selection */
.section-36{
    .layer2 p::selection{
        background-color: var( --clr-selected);
    }
}