.signin-modal-container,.login-modal-container{
    background-color: #ffffffad;
    padding: 2.5rem 7rem;
    font-family: cursive;
    gap:1.5rem;
    border-radius: 15px;
    position: relative;
    /* for animation */
    display: none;
    height: 0;
    transform: scale(.8);
    opacity: 0;

        .signin-header,.login-header{
            font-size: var(--size-xl);
        }

        .signin-form,.login-form{
            gap: .5rem;
            /* input button */
            .signin-input-container,.login-input-container{
                border: 1px solid black;
                font: var(--size-lg);
                padding: .5em 1em;
                border-radius: 25px;
                gap: 3rem;
                position: relative;

                    .signin-input,.login-input{
                        border: none;
                        background: none;
        
                    }
                    .signin-input::placeholder,.login-input::placeholder{
                        color: #000;
                        font-size: var(--size-lg);
                    }
                    .signin-input:focus,.login-input:focus{
                        border: none;
                        outline: none;
                    }
                   

            }
         
            /* submit button */
            .signin-submit-btn,.login-submit-btn{
                border: none;
                font-size: var(--size-lg);
                cursor: pointer;
                background-color: rgb(177, 146, 105);
                outline-offset: 4px;
                margin-top: 2rem;
                    
                    .front{
                        color: black;
                        padding: .5em 1em;
                        display: block;
                        background-color: burlywood;
                        transform:translateY(-5px)
                    }
                }
            .signin-submit-btn .front,.signin-submit-btn,.login-submit-btn .front,.login-submit-btn{
                border-radius: 12px;
            }
            .signin-submit-btn:active>.front,.login-submit-btn:active>.front{
                transform:translateY(0px)
            }   
            }   
        .signin-text,.login-text{
            font-weight: bold;
        } 
        .signin-methods{
            #google{
                margin-right: 1rem;
            }
            svg{
                cursor: pointer;
            }
            svg:hover{
                transform: scale(1.1)
            }
        }
        .tooltip{
            position: relative;
            font-family: sans-serif;
            font-size: var(--size-sm);
            text-align: center;
            background-color: red;
            color: white;
            padding: .5em ;
            opacity: 0;
        }
        .tooltip:before{
            content:"";
            border-color: red transparent;
            border-style: solid;
            border-width: 0em .2em 0.2em .2em;
            position:absolute;
                left: calc(50% - .2em);
                top: -.2em;
        }   
        
}
.modal-outside-container{
    height: 100vh;
    width: 100vw;
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    background-color: transparent;
    backdrop-filter: blur(10px);
    z-index: 100;
    opacity: 0;
    display: none;

        .modal-close{
            color: #181818b1;
            position: absolute;
                top: 1rem;
                right:1rem;
            transition: all .2s ease-out;
        }
        .modal-close:hover{
            transform: scale(1.1);
            color: #000;
        }
}
